/* 
-Shorthand - background

color> image> position> repeat> [size]> attachment>

background-color: black;
background-image: url(../img/wallpaper002.jpg);
background-position: center top;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; //Vínculo
*/

/* 
-Tela fixa com rolagem de conteúdo
background-size: cover;
background-attachment: fixed; (Vínculo) 
*/

body{
    /* 
    -não fazer-
    height: 97vh;
    background-size: 100% 100%;
    */
    
    height: 97vh;
    
    background: black url(../img/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover; /* não está funcionando */
}

main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 10px;
}